* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

body {
  margin: 0;
  background: #fff;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1d1d1f;
  letter-spacing: -0.022em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("/fonts/SF-Pro-Text-Regular.woff2") format("woff2"),
    url("/fonts/SF-Pro-Text-Regular.woff") format("woff"),
    url("/fonts/SF-Pro-Text-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url("/fonts/SF-Pro-Text-Medium.woff2") format("woff2"),
    url("/fonts/SF-Pro-Text-Medium.woff") format("woff"),
    url("/fonts/SF-Pro-Text-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url("/fonts/SF-Pro-Text-Semibold.woff2") format("woff2"),
    url("/fonts/SF-Pro-Text-Semibold.woff") format("woff"),
    url("/fonts/SF-Pro-Text-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("/fonts/SF-Pro-Text-Bold.woff2") format("woff2"),
    url("/fonts/SF-Pro-Text-Bold.woff") format("woff"),
    url("/fonts/SF-Pro-Text-Bold.ttf") format("truetype");
}

body {
  overflow: visible;
}

#__next {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.css-1jwdk8p {
  height: 40px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-1jwdk8p:hover {
  cursor: pointer;
}

.css-1ari3vx {
  padding-top: 0.3rem;
  margin-right: 6px;
}

.css-ugkf0f {
  width: 40px;
  height: 40px;
}

.css-ri04ru {
  min-height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1060px;
  padding: 0px 20px;
}

.css-1ghtpzt {
  background-color: #fff;
  color: #000;
  min-width: 100%;
  border-bottom: 1px solid;
  border-color: #e8e8ed;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
}

.css-pivy8w {
  display: flex;
  min-height: 500px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1060px;
  padding-top: 0px;
  padding-right: 20px;
}

.css-1ri2pml {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}

@media screen and (min-width: 1470px) {
  .css-1ri2pml {
    grid-template-columns: repeat(3, 1fr);
  }
}

.css-yr2j5s {
  font-size: 20px;
  font-weight: 700;
}

.css-x9hdg7 {
  font-size: 15px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.css-5jnsia {
  margin: 0;
  padding: 0;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .css-5jnsia {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 640px) {
  .css-5jnsia {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.css-14codzr {
  margin-left: 32px;
  display: none;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media screen and (min-width: 640px) {
  .css-14codzr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.css-208tv9 {
  cursor: pointer;
  display: block;
  color: #1d1d1f;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.css-208tv9:hover {
  color: #000;
}

.css-oniwp6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  opacity: 0.95;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: xs;
  padding-bottom: xs;
  font-size: 12px;
  background-color: #ff8c00;
  color: #fff;
}

.css-oniwp6:hover {
  cursor: pointer;
  opacity: 1;
}

.css-oniwp6:focus {
  outline-style: none;
  outline-color: transparent;
}
.css-ennrta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  opacity: 0.95;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
  width: 14px;
  padding-top: 0.2rem;
  margin-left: 32px;
  color: #1d1d1f;
  background-color: transparent;
  border: 0;
}

.css-ennrta:hover {
  cursor: pointer;
  opacity: 1;
}

.css-ennrta:focus {
  outline-style: none;
  outline-color: transparent;
}

.css-s08p0c {
  width: 100%;
  height: 100%;
}

.css-1gc185b {
  min-height: 55px;
}
.css-14wi2yf {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.css-1w9pgi1 {
  padding-bottom: 32px;
  max-width: 900px;
}

@media screen and (min-width: 640px) {
  .css-1w9pgi1 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.css-vds0z6 {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1060px;
  padding-top: 0px;
  padding-right: 20px;
}

.css-w6laos {
  color: rgb(0, 0, 0) !important;
  font-weight: 500;
}
.css-gdw08d {
  margin-top: 8px;
  color: rgb(81, 81, 84);
  font-size: 14px;
}

.css-m8252i {
  padding-top: 0px;
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 640px) {
  .css-m8252i {
    font-size: 1.875rem;
  }
}

.css-1uz12ku {
  display: flex;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(0, 102, 204);
  text-decoration-line: none;
  text-decoration: none;
}

.css-1uz12ku:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration: underline;
}

.css-wkcmjq {
  margin-top: 48px;
  background-color: #f5f5f7;
  color: #86868b;
}

.css-1ye74er {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
  max-width: 1060px;
  padding: 0px 20px;
}

.css-1gjcxsn {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: center;
}

.css-11y3usw {
  width: 14px;
}

.css-fal7e0 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.css-h0e4wg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  opacity: 0.95;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 14px;
  height: 14px;
  color: #515154;
  background-color: transparent;
  border: 0;
}

.css-h0e4wg:hover {
  cursor: pointer;
  opacity: 1;
}

.css-h0e4wg:focus {
  outline-style: none;
  outline-color: transparent;
}
